.group-search {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #283048;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.search {
    margin: 0 200px;
}

h3 {
    display: flex;
    align-items: flex-start;
}

.mb {
    display: block;
    padding: 20px;
    background-color: rgba(111, 111, 111, 0.585)
}

.btn-search:focus,
.btn-search:hover,
.btn-search {
    background-color: #FF5C00;
    border: 0;
}

span {
    color: #fff;
    white-space: nowrap;
}