* {
    box-sizing: border-box;
}

html {
    background-color: #1D1E22;
}

form {
    display: flex;
    flex-direction: column;
    margin: 5% 40%;
    padding: 40px 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
}

label {
    padding-bottom: 7px;
    color: #fff;

}

h1,
a {
    color: #fff;
    text-decoration: none;
}

input {
    background-color: #333336;
}

.btn-submit {
    background-color: #FEDA6A;
    font-size: larger;
}

.forgot-password {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: x-small;
}

.auth {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

button,
input {
    height: 43px;
    border: none;
    border-radius: 5px;
}

.btn-primary {
    background-color: rgb(62, 62, 250);
    color: #fff;
}

.btn-danger {
    background-color: rgb(247, 68, 68);
    color: #fff;
}